@font-face {
  font-family: "sf-pro-regular";
  src: url(./font/sf-pro-regular.OTF);
}
@font-face {
  font-family: "space-tech-italic";
  src: url(./font/space-tech-italic.ttf);
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "sf-pro-regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.popcheck {
  --max-width: 30rem;
  width: min(90% - 0rem, var(--max-width));
  background: rgb(255, 255, 255);
  border-radius: 20px;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 30px;
  color: rgb(22, 69, 123);
  visibility: hidden;
  /* transition: transform 0.2s, top 0.2s; */
  -webkit-box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.8);
}
.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  --max-width: 30rem;
  width: min(90% - 0rem, var(--max-width));
  z-index: 100;
}

.forgot_voucher p {
  font-size: 14px;
  font-weight: 600;
  line-height: 2em;
  color: var(--clr-forgot-voucher);
  margin-top: 5%;
}
.forgot_voucher a:link,
.forgot_voucher a:visited {
  font-size: 12px;
  font-weight: 600;
  /* background: rgb(7, 102, 255); */
  background: none;
  color: rgb(255, 255, 255);
  padding: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.5em;
}
.forgot_voucher a:active {
  font-size: 12px;
  font-weight: 600;
  background: none;
  transform: scale(0.9);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
.forgot_voucher img {
  width: 50px;
}
.forgot_voucher__badge {
  position: relative;
  top: -45px;
  right: 15px;
  width: 15px;
  height: 15px;
  background: rgb(37, 211, 102);
  /* background: none; */
  color: #ffffff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.popcheck button {
  font-size: 16px;
  font-weight: 600;
  width: 90%;
  margin-top: 10px;
  padding: 10px 0;
  background: var(--clr-btns-bg);
  color: rgb(255, 255, 255);
  border: 0;
  outline: none;
  border-radius: 24px;
  /* border: 1px solid rgb(22, 69, 123); */
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
.popcheck button:active {
  background: var(--clr-btns-actv-bg);
  transform: scale(0.9);
  border: 1px solid var(--clr-input-border);
  outline: none;
}
