@font-face {
  font-family: "sf-pro-regular";
  src: url(./font/sf-pro-regular.OTF);
}
@font-face {
  font-family: "space-tech-italic";
  src: url(./font/space-tech-italic.ttf);
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "sf-pro-regular", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rates {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  overflow: hidden;
  border-radius: none;
}
.rates tr {
  background: var(--clr-rates-td-bg);
  color: var(--clr-rates-td-text);
}
.thead th,
.tfoot th {
  background: var(--clr-rates-th-bg);
  color: var(--clr-rates-th-text);
  letter-spacing: 3px;
  word-spacing: 3px;
}

table,
th {
  border: 1px solid var(--clr-rates-th-bg);
  border-collapse: collapse;
  padding: 5px;
  tr:nth-child(odd) {
    background-color: rgb(223, 241, 255);
  }
}

th {
  height: 30px;
}

td {
  height: 30px;
}
tr {
  height: 30px;
}

#rate {
  font-size: 12px;
  font-weight: 600;
  color: var(--clr-card-bg);
  padding: 5px;
}
.btn-rate-grp {
  position: relative;
  display: inline-block;
}
