@font-face {
  font-family: "sf-pro-regular";
  src: url(./font/sf-pro-regular.OTF);
}
@font-face {
  font-family: "space-tech-italic";
  src: url(./font/space-tech-italic.ttf);
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "sf-pro-regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.portal {
  font-family: "sf-pro-regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin: 0;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: var(--clr-body-bg);
  /* background-image: var(--bak-wall); */
}

.disable-text-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Start of Omada Buttons */
.title-sign-in {
  font-weight: 600;
  font-size: 25px;
  color: rgb(223, 241, 255);
  line-height: 45px;
  margin-bottom: 10px;
  background: var(--clr-body-bg);
  border-radius: 20px 20px 0 0;
}
.title-sign-in img {
  height: 50px;
  width: auto;
}

.status {
  color: var(--clr-status-text);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  width: fit-content;
  margin-inline: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0.5em;
}

.oper-section-item {
  font-size: 18px;
  font-weight: 400;
  display: block;
  margin-left: auto;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 15px;
  background: transparent;
  color: rgb(22, 69, 123);
  text-align: left;
  border-radius: 24px;
  border: 2px solid var(--clr-input-border);
  width: 100%;
  /* height: 42px;
  width: 300px; */
  padding: 12px;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

/* .oper-section-item img {
  height: 25px;
  width: auto;
} */

.oper-section-item#hotspot-selector {
  /* display: none; */
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  width: 40%;
  margin-top: 0;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 5px;
  background: rgba(223, 241, 255);
  border-color: transparent;
  border-radius: 10px;
  /* border: none; */
  /* outline: none; */
  padding: 2px;
}
.oper-section-item#hotspot-selector {
  /* background: url(./image/icon/hotspot.png) 10px; */
  background-repeat: no-repeat;
  /* text-indent: 35px; */
  outline: none;
}
.oper-section-item#hotspot-selector:focus {
  border: 1px solid var(--clr-input-border-fcs);
  /* border: none; */
  /* outline: none; */
}

#input-phone-num {
  margin-bottom: 20px;
}

.add {
  display: inline-block;
  border-radius: 5px 0 0 5px;
  height: 42px;
  line-height: 40px;
  width: 20px;
}

#country-code {
  height: 42px;
  width: 40px;
  border-radius: 0;
}

#phone-number {
  border-radius: 0 5px 5px 0;
  /* height: 42px;
  width: 410px; */
  width: 100%;
  margin-top: 10px;
}

#input-verify-code {
  margin-bottom: 20px;
}

#verify-code {
  border-radius: 5px 0 0 5px;
  /* height: 42px;
  width: 400px; */
  width: 100%;
  vertical-align: top;
  margin-top: 10px;
}

#get-code {
  display: inline-block;
  height: 42px;
  width: 100px;
  border-radius: 0 5px 5px 0;
}

::placeholder {
  font-size: 18px;
  font-weight: 500;
  color: var(--clr-phdr-text);
  letter-spacing: normal;
}

.input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  border-radius: 24px;
  color: var(--clr-phdr-text);
  background: var(--clr-input-bg);
  border: 2px solid var(--clr-input-border);
  letter-spacing: 0.5px;
  caret-color: rgb(22, 69, 123);
}

.input:focus {
  outline: 1px solid var(--clr-input-border-fcs);
}

.input:focus::placeholder {
  color: rgba(22, 69, 123, 0.5);
}

/* input#voucherCode {
  background: url(./image/icon/voucher.png) 10px;
  background-repeat: no-repeat;
  text-indent: 40px;
}

input#username {
  background: url(./image/icon/username.png) 10px;
  background-repeat: no-repeat;
  text-indent: 40px;
}

input#password {
  background: url(./image/icon/password.png) 10px;
  background-repeat: no-repeat;
  text-indent: 40px;
} */

.eye-ico img {
  position: absolute;
  height: 70%;
  width: auto;
  top: 7px;
  right: 10px;
}

/* input#simplePassword {
  background: url(./image/icon/password.png) 10px;
  background-repeat: no-repeat;
  text-indent: 40px;
}

input#phone-number {
  background: url(./image/icon/phone.png) 10px;
  background-repeat: no-repeat;
  text-indent: 40px;
}

input#verify-code {
  background: url(./image/icon/code.png) 10px;
  background-repeat: no-repeat;
  text-indent: 40px;
} */

/* Start of input name */
.inputName {
  font-size: 18px;
  font-weight: 600;
  color: rgb(55, 71, 79);
  text-align: left;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  --max-width: 30rem;
  width: min(90% - 0rem, var(--max-width));
}
/* End of input name */

.button {
  background: var(--clr-btns-bg);
  border-radius: 24px;
  border: 1px solid var(--clr-input-border);
  margin: 0 auto;
  --max-width: 30rem;
  width: min(40% - 0rem, var(--max-width));
  /* padding-top: 14px;
  padding-bottom: 14px; */
  display: block;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.button p {
  font-size: 18px;
  font-weight: 600;
  color: var(--clr-btns-text);
  text-align: center;
}
.button:active {
  background: var(--clr-btns-actv-bg);
  transform: scale(0.9);
  border: 1px solid var(--clr-input-border);
  outline: none;
}
.button:focus {
  color: var(--clr-btns-text-fcs);
  border: 1px solid var(--clr-input-border);
  outline: none;
}

.input-link {
  font-size: 18px;
  font-weight: 600;
  color: var(--clr-link);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.input-link:hover,
.input-link:focus {
  color: var(--clr-link-fcs);
}

.blink {
  animation: blinker 3s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
/* End of Omada Buttons */

/* Start of main-logo */
.main-logo img {
  height: 70px;
  width: auto;
  margin-top: 50px;
}
/* End of main-logo */

/* Start of Omada Login Box CSS */
.form-box {
  display: block;
  position: relative;
  --max-width: 20rem;
  width: min(90% - 0rem, var(--max-width));
  border: none;
  outline: none;
  border-radius: 20px;
  align-items: center;
  padding-bottom: 0px;
  margin-left: auto;
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 70px;
  clear: both;
}
.form-glass {
  /* background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  ); */
  background: rgb(255, 255, 255);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
/* End of Omada Login Box CSS */
